<ng-container *ngIf="course">
  <div
    class="course-card"
    *ngIf="course"
    [ngClass]="cardClasses()"
    [ngStyle]="cardStyles()"
  >
    <div class="course-title" [style.text-decoration]="'none'">
      {{ course.description }}
    </div>

    <img width="300" alt="Angular Logo" [src]="course.iconUrl" />

    <div class="course-description">
      {{ course.longDescription }}
    </div>

    <!-- Option with ng-container as template ref for the switch and case statements -->
    <!-- <ng-container [ngSwitch]="course.category">
      <div class="course-category">
        <ng-container *ngSwitchCase="'BEGINNER'">
          <div class="category">Beginner</div>
        </ng-container>
        <ng-container *ngSwitchCase="'INTERMEDIATE'">
          <div class="category">Intermediate</div>
        </ng-container>
        <ng-container *ngSwitchCase="'ADVANCED'">
          <div class="category">Advanced</div>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <div class="category">All levels</div>
        </ng-container>
      </div>
    </ng-container> -->

    <!-- Option without ng-container and ngSwitch(old syntax) -->
    <div class="course-category" [ngSwitch]="course.category">
      <div class="category" *ngSwitchCase="'BEGINNER'">Beginner</div>
      <div class="category" *ngSwitchCase="'INTERMEDIATE'">Intermediate</div>
      <div class="category" *ngSwitchCase="'ADVANCED'">Advanced</div>
      <div class="category" *ngSwitchDefault>All levels</div>
    </div>

    <!-- new switch syntax with @switch -->
    <!-- @switch (course.category) { @case ("BEGINNER") {
    <div class="category">Beginner</div>
    } @case ("INTERMEDIATE") {
    <div class="category">Intermediate</div>
    } @case ("ADVANCED") {
    <div class="category">Advanced</div>
    } @default {
    <div class="category">Unknown</div>
    } } -->

    <button (click)="onCourseViewed()">View Course</button>
  </div>
</ng-container>
